.search {
  position: relative;
  width: 100%;
}

.inputSearch {
  width: 100%;
  margin-top: 20px;
}

.button {
  position: absolute;
  top: 23px;
  right: 3px;

  width: 30px;
  height: 30px;
  padding: 7px;
}
