.input {
  padding: 7px 15px;

  color: var(--black);
  border: none;
  outline-color: var(--primary);
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-family);
}

.input::placeholder {
  color: var(--gray);
}

.container {
  background: var(--gray-light);
  height: auto;
}

.form,
.wrapper {
  display: grid;
  justify-items: center;
  grid-auto-rows: auto;
  row-gap: 15px;
}

.form {
  padding: 15px;
}

.wrapper {
  grid-template-columns: 450px;
}

.item {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
  position: relative;
}

.age input[type='number']::-webkit-outer-spin-button,
.age input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.age input[type='number'],
.age input[type='number']:hover,
.age input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.sex {
  display: grid;
  grid-template-columns: 217px;
  justify-items: end;
  align-items: center;
  border: 1px dotted var(--primary);
  padding: 10px;
  justify-items: stretch;
}

.sex span {
  font-weight: normal;
}
.errorMessengers {
  border: 1px solid var(--crimson);
}

.options {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  column-gap: 15px;
  align-items: center;
  position: relative;
}

.option {
  display: grid;
  grid-template-columns: 1fr auto;
}

.select {
  padding: 7px 15px;
  border: none;
  outline-color: var(--primary);
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-family);
  width: 237px;
}

.date input {
  width: 237px;
}

.button {
  max-height: 50px;
  width: 170px;
  font-size: 20px;
}

.errorfile {
  left: 485px;
  background-color: #fff;
}

.error input,
.errorEye {
  outline-color: var(--crimson);
  border: 1px solid var(--crimson);
  position: relative;
}

.errorname::after,
.errorDate::after,
.errorAge::after {
  position: absolute;
  left: 250px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--crimson);
  min-width: 400px;
  height: auto;
  font-size: 17px;
}

.errorname::after {
  content: 'The first letter must be uppercase. Must be at least 4 characters in length. Spaces are not allowed.';
  font-size: 15px;
}

.errorDate::after {
  content: 'Required field. Enter the date.';
}

.errorAge::after {
  content: 'Required field. Enter correct value.';
}
