.cards {
  margin: 30px auto 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(283px, 800px));
  grid-auto-rows: minmax(350px, auto);
  gap: 40px 30px;
  list-style-type: none;
  justify-items: center;
}

.card {
  display: grid;
  grid-template-rows: 300px repeat(7, auto);
  grid-template-columns: 1fr;
  row-gap: 5px;
  align-items: center;
  background: #00000011;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  cursor: default;
  border: 1px solid var(--primary);
  transition: all 0.5s;
}

.card span {
  font-weight: bold;
}

.card div {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.144);
}

.card div:last-child {
  border-bottom: none;
}

.card img {
  filter: grayscale(100%);
  transition: all 0.5s;
}

.card:hover img {
  filter: grayscale(0%);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0px 20px 1px crimson;
}

.image {
  justify-self: center;
  max-width: 200px;
  max-height: 300px;
}

.messengers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary);
}

.green {
  color: rgb(26, 146, 42);
}

.blue {
  color: rgb(0, 140, 255);
}

.brown {
  color: brown;
}
