.cards {
  margin: 30px auto 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(283px, 1200px));
  grid-auto-rows: minmax(350px, auto);
  min-height: 100vh;
  gap: 40px 30px;
  list-style-type: none;
  justify-items: center;
}

.card {
  display: grid;
  grid-template-rows: 300px 100px;
  grid-template-columns: 1fr;
  row-gap: 5px;
  align-items: center;
  background: #00000010;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  cursor: default;
  border: 1px solid var(--primary);
  transition: all 0.5s;
}

.card div {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.144);
}

.card div:last-child,
.card div:first-child {
  border-bottom: none;
}

.card img {
  filter: grayscale(100%);
  transition: all 0.2s;
}

.card:hover img {
  filter: grayscale(0%);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0px 20px 1px var(--primary);
  animation: gradient 0.2s forwards;
}

@keyframes gradient {
  0% {
    background: radial-gradient(rgba(0, 0, 85, 0), #ffffff);
  }
  10% {
    background: radial-gradient(rgba(0, 0, 85, 0.1), #dadada);
  }
  20% {
    background: radial-gradient(rgba(0, 0, 85, 0.2), #b6b6b6);
  }
  30% {
    background: radial-gradient(rgba(0, 0, 85, 0.3), #979797);
  }
  40% {
    background: radial-gradient(rgba(0, 0, 85, 0.4), #858585);
  }
  50% {
    background: radial-gradient(rgba(0, 0, 85, 0.5), #666666);
  }
  60% {
    background: radial-gradient(rgba(0, 0, 85, 0.6), #585858);
  }
  70% {
    background: radial-gradient(rgba(0, 0, 85, 0.7), #3f3f3f);
  }
  80% {
    background: radial-gradient(rgba(0, 0, 85, 0.8), #1f1f1f);
  }
  90% {
    background: radial-gradient(rgba(0, 0, 85, 0.9), #000);
  }
  100% {
    background: radial-gradient(rgba(0, 0, 85), #000);
  }
}

.card:hover .name {
  color: var(--white);
}

.card:hover img {
  border: 1px solid var(--color-alpha);
}

.name {
  padding: 5px;
  justify-self: center;
  font-size: 20px;
  transition: all 0.5s;
  color: var(--black);
}

.image {
  justify-self: center;
}

.image img {
  justify-self: center;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.card span {
  font-weight: bold;
}

.choice {
  font-weight: bold;
}

.active {
  color: var(--green);
}

.notactive {
  color: crimson;
}

.balance {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary);
}

.green {
  color: rgb(26, 146, 42);
}

.blue {
  color: rgb(0, 140, 255);
}

.brown {
  color: brown;
}

.nothing {
  width: 100%;
  font-size: calc(44px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
  text-align: center;
  line-height: 100px;
}

.close {
  position: fixed;
  right: 0;
  width: 30px;
  height: 30px;
}
