.cards {
    margin: 30px auto 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1200px));
  grid-auto-rows: minmax(350px, 500px);
  min-height: 100vh;
  gap: 40px 30px;
  list-style-type: none;  
  justify-items: center;
}

.card {

}

