.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(450px, auto);
  justify-items: center;
}

.card {
  display: grid;
  position: relative;
  grid-auto-rows: auto;
  grid-template-columns: 300px 500px;
  column-gap: 25px;
  align-items: center;
  padding: 20px;
  width: 100%;
  font-size: 18px;
  cursor: default;
  border: 1px solid var(--primary);
  transition: all 0.5s;
  box-shadow: 0 0px 50px 10px var(--primary);
  border-radius: 5px;
  background: radial-gradient(#003, #000);
  color: goldenrod;
}

.card div {
  border-bottom: 1px dotted var(--color-alpha);
}

.card div:nth-child(2) {
  border-bottom: none;
}

.image {
  justify-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 8;
}

.image img {
  justify-self: center;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  position: relative;
  border: 2px solid var(--color-alpha);
  padding: 5px;
}

.card span {
  font-weight: bold;
}

.choice {
  font-weight: bold;
}

.active {
  color: var(--green);
}

.notactive {
  color: crimson;
}

.primary {
  display: inline;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.close img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
}
