.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 40px;
    color: var(--white);
    font-size: 16px;
    line-height: 20px;    
    justify-items: center;
    background: var(--primary);
    padding: 25px 30px;
    margin: 0 auto;    
}
